*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




h1
{
        margin-top: 50px;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: #363062;
        background-color: #E9D5DA;
        display: inline-block;
        text-decoration: underline;
        border-radius: 5px;
    }
    
h2
    {
        margin-bottom: 0px;
        margin-top: 32px;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: #363062;
        background-color: #E9D5DA;
        display: inline-block;
        text-decoration: underline;
        border-radius: 5px;
        font-size: 32px;
        
        
    }

    h4{
        display: flex;
        font-family: fantasy;
        font-size: large;
        text-align: left;
    }
.imag{
display: flex;
flex-wrap: wrap;
margin-top: 10px;
padding: 2px;
border-radius: 23px;

}
   .body_{

       background-image:linear-gradient(to right, #827397, #4D4C7D, #363062);
   }
#grid{
        height: 120vh;
        display: grid;
        grid-template-rows: 10% auto 10%;
        grid-template-columns: auto;
    }
 

a.header__li1{
    margin: 6px;
    padding: 4px;
    font-family: fantasy;
    text-decoration: none;
    color: #e1dfec;
    border-radius: 4px;
    list-style: none;
    transition: background 1s;
}

a.header__li1:hover{
    background-color:#4D4C7D;
}


a.link_matches{
    margin: 10px;
    margin-left: 0px;
    padding: 5px;
    font-family: fantasy;
    font-size: x-large;
    text-decoration: none;
    color: #363062;
    background-color: #E9D5DA;
    border-radius: 3px;
    list-style: none;
}

.header__ul{
    text-decoration: none;
    list-style: none;
}
.contact_{
    margin: 0px;
    padding: 4px;
    font-family: fantasy;
    text-decoration: none;
    color: #363062;
    background-color: #E9D5DA;
   
}

header {
    background-color: #363062;
    padding: 3rem;
    padding-left: 0.2rem;
  }
main{
    padding: 2rem;
}







footer{
    background-color: #363062;
    padding: 2rem;
    
    text-align: center;
    font-family: fantasy;
  }

.li_link{
display: inline;
  }
.main_{
    padding-left: 4px;
}

.fieldset_{
    border: #000000;
}




/*mis medias quieres*/

@media screen and (min-width: 768px) {
#grid{
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 100%;
}
}

@media screen and (max-width: 768px) {
#grid{
         grid-template-rows: 10% auto 10%;
        grid-template-columns: auto;
    }
    }


    @media screen and (max-width: 320px) {
        #grid{
                 grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                
            
            }
            footer{
                display: none;
            }
            .header__li{
            display: flex;
            flex-direction: column;
            }
            }
